@import '../../../dictionaries/themes/colors.module.scss';

.chevron {
  transform: rotate(90deg);
}

.closedChevron {
  transform: rotate(270deg);
}

.massageActionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-top: 1px solid $gray;
  font-weight: 700;
  color: $blue;
}

.massageName {
  overflow: auto;
}

.editDeleteContainer {
  margin-right: 16px;
  width: 40px;
  display: flex;
  justify-content: space-between;
  color: $red;
}

.edit {
  margin-right: 10px;
}

.noFavoriteMassages {
  align-self: center;
  padding: 16px;
  font-weight: 700;
}
