@import '../../dictionaries/themes/colors.module.scss';

$gutter: 8px;

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 820px;
  height: calc(100vh - 40px);
}

.description,
.link {
  font-size: $gutter * 2.5;
}

.link {
  color: $blue;
  font-weight: 700;
}

.title {
  font-size: $gutter * 2.5;
  font-weight: 700;
  margin-bottom: $gutter * 2;
}

.infoBoxContainer {
  display: flex;
  margin-bottom: $gutter * 10.5;
  justify-content: space-between;
}

.infoBox {
  width: 42%;
  .infoBoxDescription {
    margin-bottom: $gutter * 2.5;
  }
}

.subscribe {
  display: flex;
  justify-content: space-around;
  background: #f8f8f8;
  border-radius: 24px;
  text-align: left;
  padding: 24px 40px;
  align-items: center;
}

.subscribeSection,
.subscribeForm {
  display: flex;
  width: 45%;
  position: relative;
}

.subscribeSection {
  flex-direction: column;
}

.subscribeForm {
  max-height: $gutter * 8;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #2b2b2b;
}

.subscribeEmailInput {
  width: 300px;
  padding: ($gutter * 1.5) ($gutter * 2);
  border: none;
  font-size: 16px;
}

.subscribeBtn {
  background: $blue;
  border: none;
  padding: 0 $gutter * 2.5;
}

@media (max-width: 640px) {
  .section {
    height: 100%;
  }
  .infoBoxContainer {
    flex-direction: column;
    padding: $gutter * 2;
  }

  .infoBox {
    width: 100%;
  }

  .infoBox:not(:last-child) {
    margin-bottom: $gutter * 8;
  }

  .subscribe {
    width: 90vw;
    flex-direction: column;
    margin-bottom: $gutter * 2;
    min-height: 240px;
  }

  .subscribeSection,
  .subscribeForm {
    display: flex;
    position: relative;
  }

  .subscribeSection {
    margin-bottom: $gutter * 4;
    width: 100%;
  }

  .subscribeForm {
    width: 100%;
  }

  .subscribeEmailInput {
    width: 180px;
  }

  .subscribeBtn {
    padding: 0 $gutter * 2.5;
  }
}
