@import '../../dictionaries/themes/colors.module.scss';

$gutter: 8px;

.container {
  display: flex;
  justify-content: space-between;
  padding: $gutter * 5;
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 10;
}

.logo {
  width: $gutter * 20;
  background: $blue;
}

.links {
  a {
    text-decoration: none;
    font-weight: 700;
  }
  a:not(:last-child) {
    margin-right: $gutter * 3;
  }
}
