.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.logo {
  width: 160px;
  background: blue;
}

.links {
  a {
    text-decoration: none;
    font-weight: 700;
  }
  a:not(:last-child) {
    margin-right: 21px;
  }
}
