.container {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 160px;
  background: blue;
}

.links {
  a {
    text-decoration: none;
    font-weight: 700;
  }
  a:not(:last-child) {
    margin-right: 21px;
  }
}
