@import '../../../dictionaries/themes/colors.module.scss';

$gutter: 8px;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 4px solid $blue;
  padding: $gutter * 8 $gutter * 4;
  border-radius: 25px;
}

.header {
  display: flex;
  justify-content: center;
  padding: $gutter * 2 0 $gutter * 4 0;
  align-items: center;
  img {
    margin-right: $gutter * 2;
  }
  .title {
    font-size: $gutter * 4;
    font-weight: 700;
  }
}
