@import '../../../dictionaries/themes/colors.module.scss';

$gutter: 8px;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 480px;
  border: 4px solid $blue;
  padding: $gutter * 6 $gutter * 4 $gutter * 8;
  border-radius: 25px;
}

.header {
  display: flex;
  justify-content: center;
  padding: $gutter * 2 0 $gutter * 4 0;
  align-items: center;
  img {
    margin-right: $gutter * 2;
  }
  .title {
    font-size: $gutter * 4;
    font-weight: 700;
  }
}

.submitBtn {
  margin: $gutter * 2 0;
}

.formSection {
  margin: $gutter * 2 0;
}

.resendCodeContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 420px) {
  .container {
    width: 90%;
  }
}
