.backBtn {
  position: absolute;
  display: none;
  z-index: 10;
}

.homeWrapper {
  display: flex;
  height: 90vh;
  border: 1px blue solid;
}

.anatomyWrapper {
  width: 66%;
  position: relative;
  text-align: center;
}

.backgroundText {
  position: absolute;
  top: 35%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%);
  font-size: 12.5rem;
  z-index: -10;
  font-weight: 700;
}

.sideDescription {
  width: 33%;
  height: 100%;
  right: 0;
  top: 0;
  // position: absolute;
  border: 1px solid red;
}
