.backBtn {
  position: absolute;
  display: none;
  z-index: 10;
}

.anatomyWrapper {
  width: 65%;
  position: relative;
  text-align: center;
}

.anatomy {
  display: flex;
  height: 100%;
}

.backgroundText {
  position: absolute;
  top: 35%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%);
  font-size: 11rem;
  z-index: -10;
  font-weight: 700;
  padding: 0 36px;
}

.instructions {
  margin-top: -40px;
  font-weight: 700;
  letter-spacing: 0.02em;
}
