@import '../../dictionaries/themes/colors/colors.module.scss';

$border: 4px solid $blue;

.section {
  padding: 0 40px;
}

.homeWrapper {
  display: flex;
  border: $border;
}

.sideDescription {
  width: 40%;
  height: 100%;
  border-left: $border;
  position: relative;
}

.infoBox {
  width: 100%;
  border-bottom: $border;
  &:last-child {
    border: none;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  padding: 18px;
  border-bottom: $border;
}

.description {
  padding: 16px;
  p:not(:last-child) {
    line-height: 24px;
    margin-bottom: 16px;
  }

  ul {
    padding-left: 16px;
    list-style: none;
    li {
      line-height: 24px;
      margin-bottom: 16px;
    }
    li::before {
      content: '\2022';
      color: $blue;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.emoBullet {
  display: flex;
  margin-left: -4px;
  align-items: baseline;
}

.bold {
  font-weight: 700;
}
