@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro&display=swap');
@import './dictionaries/themes/colors/colors.module.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2b2b2b;
}

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  p,
  li,
  a {
    font-family: 'Source Sans Pro', sans-serif;
  }
  font-size: 16px;
}

:global(.section) {
  padding: 100px 40px 0 40px;
}

// Button btn

:global(.btn) {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  max-width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 50px;
}

:global(.btn-primary) {
  background: $blue;
}

:global(.btn-secondary) {
  background: #ffffff;
  border: 2px solid $blue;
  color: $blue;
  font-weight: 700;
}
