@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro&display=swap');
@import './dictionaries/themes/colors.module.scss';

$gutter: 8px;
$border: $gutter/2 solid $blue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2b2b2b;
}

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  p,
  li,
  a {
    font-family: 'Source Sans Pro', sans-serif;
  }
  font-size: 16px;
}

// Basic section page

:global(.section) {
  padding: 100px 40px 0 40px;
}

:global(.wrapper) {
  display: flex;
  border: $border;
  height: calc(100vh - 140px);
}

:global(.sideDescription) {
  width: 34%;
  border-left: $border;
  position: relative;
}

:global(.infoBox) {
  width: 100%;
  border-bottom: $border;
  &:last-child {
    border: none;
  }
}

:global(.title) {
  font-weight: 700;
  font-size: $gutter * 3;
  padding: $gutter * 2;
  border-bottom: $border;
}

:global(.description) {
  padding: 16px;
  p:not(:last-child) {
    margin-bottom: $gutter * 2;
  }

  ul {
    padding-left: $gutter * 2;
    list-style: none;
    li {
      margin-bottom: $gutter * 2;
    }
    li::before {
      content: '\2022';
      color: $blue;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

:global(.mainSection) {
  width: 75%;
  position: relative;
  text-align: center;
}

:global(.bold) {
  font-weight: 700;
}

@media (max-width: 1265px) {
  :global(.wrapper) {
    flex-direction: column;
    height: initial;
    border: none;
  }

  :global(.section) {
    padding: 100px 0 !important;
  }

  :global(.sideDescription) {
    width: 100%;
    margin-top: $gutter * 4;
    border: none;
  }

  :global(.mainSection) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Button btn

:global(.btn) {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  max-width: 100%;
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 50px;
}

:global(.btn-primary) {
  background: $blue;
}

:global(.btn-secondary) {
  background: #ffffff;
  border: 2px solid $blue;
  color: $blue;
  font-weight: 700;
}
