@import '../../dictionaries/themes/colors.module.scss';

$gutter: 8px;
$transition: all 300ms ease-in-out;

.container {
  position: relative;
  border-radius: 10px;
  border: 4px solid $red;
  padding: $gutter;
  position: absolute;
  top: 0;
  right: -40%;
  height: 85vh;
  width: 40%;
  background: #ffffff;
  margin-top: 108px;
  transition: $transition;
  z-index: 100;
}

.userPanelTab {
  background: $red;
  padding: $gutter;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: -64px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  border: none;
  &:focus {
    outline: none;
  }
}

.open {
  right: 0;
}

.header {
  padding: $gutter * 3;
  text-align: center;
}

.userName {
  color: $blue;
  font-weight: 700;
}

.sectionContainer {
  a:hover {
    text-decoration: none;
  }
  .cardHeader {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $gutter * 3;
    border: none;
    color: $blue;
    &:focus {
      outline: none;
    }
    p {
      font-weight: 700;
      font-size: 18px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    width: 80%;
    right: -80%;
    margin-top: 80px;
  }
  .open {
    right: 0;
  }
}
